<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiper.js Vertical Scrolling</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
        .swiper-container {
            width: 100%;
            height: 300px;
        }
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ccc;
            font-size: 24px;
        }
    </style>
</head>
<body>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-color:red;">Slide 1</div>
        <div class="swiper-slide" style="background-color:yellow;">Slide 2</div>
        <div class="swiper-slide" style="background-color:blue;">Slide 3</div>
        <div class="swiper-slide" style="background-color:green;">Slide 4</div>
        <div class="swiper-slide" style="background-color:red;">Slide 5</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>

</body>
</html>