.Fiat{
    background-color: transparent;
    display:flex;
    height:100vh;
    padding: 0 60px;
    background-image: url('../images/bg_licensed.svg');
    background-position: 100% 120%;
    background-repeat: no-repeat;
}

.con{
    font-size: 0.9rem;
    padding-top:20px;
    margin: 0px;
}


.Fiat div{
    margin: 40px;
    width: 50%;
}

.Fiat div h1::after{
    content: "Crypto Independent";
    color:red;
}

.FiatComponents{
    padding: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
    text-align: start;
    border-radius: 8px;
    transition: background-color 0.4s, box-shadow 0.4s;
    padding:1rem;
    font-weight: 300;
}

.FiatComponents img{
    height: 32px;
    width:64px;
    margin: 0px;
    padding: 0px;
}

.FiatComponents:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.256);
    transform:scale(1.03) ;
    transition: 0.3s;
    cursor: pointer;
}

.con-deets h1{
    font-size: 4rem;
    text-align: start;
    font-weight: 800;
    line-height: 1;
}

.con-deets p{
    text-align: start;
    font-size: 1.25rem;
    font-weight: 300;
}