

.landing-page{
    opacity: 1;
    display: flex;
    background-image: url('../images/bg_hero.webp');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    inset: 60px;
}

#hero{
    padding-bottom: 10px;
}

.landing-page div:nth-child(3){
        padding-top: 10px;
}

.landing-page>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin:0px 15px;
    width: 100%;
}


 
@media (max-width:680px){
    .landing-page{
        padding-top: 180px;
        display: block;
        justify-content: center;
    background-size: cover;
    background-position: 100% center !important;
    }

    .landing-page>div{
        width: fit-content;
        height: fit-content;
    }

    .landing-page img{
        display: none;
    }
}

@media (max-width: 992px) {
    .landing-page{
    grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .landing-page{
       flex-direction: row;
       justify-content: center;
       background-size: cover;  
    background-position: 100% center !important;
    }
    }