.OneAccount{
    display: flex;
    width: 100%;
    background-color: transparent;
    background-image: url('../images/bg_one_account.webp');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    inset:60px;
    height: 90vh;
}


.OneAccount>div:nth-of-type(1){
    display: flex;
    width: 50%;
    margin: 0px 60px;
    font-size: 3.35rem;
    text-align: start;
    justify-content: flex-start;
    align-items: start;
    padding: 0px;
    color:rgba(235, 0, 70, 1);
}


.OneAccount>div:nth-of-type(2){
    margin:40px;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.OneAccountFeatures p{
    color: black;
    padding: 0px;
    margin: 2px;
}

.OneAccountFeatures p:nth-child(2){
   font-weight: bolder; 
   font-size: 1.1rem;
}

.OneAccountFeatures p:nth-child(3){
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
 }
 

.OneAccountFeatures{
    margin:20px;
    padding: 1px;
    text-align: start;
}


#icon{
    margin: 0px;
    padding-top: 5px;
    height: 32px;
    width: 60px;
}

@media(max-width:480px){
    .OneAccount{
        flex-direction: column;
        background-image: none;
    }

    .OneAccount>div:nth-of-type(1){
        font-size: 2rem;
        text-align: start;
        margin: 0px 25px;
    }

    .OneAccountFeatures{
        padding: 0px;
    }

    .OneAccountFeatures p:nth-child(2){
        font-weight: bolder; 
        font-size: 1.1rem;
        margin:0px;
        text-align: start;
     }

    .OneAccountFeatures p:nth-child(3){
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.2;
     }

     .OneAccount>div:nth-of-type(2){
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
        margin: 0px;
    }
    
}
    @media(max-width:1200px){
        .OneAccount{
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }

        .OneAccount>div:nth-of-type(1){
            font-size: 2rem;
            text-align: start;
            margin: 25px 25px 0px;
            width: 50%;
        }

        .OneAccount>div:nth-of-type(2){
            row-gap: 1rem;
            column-gap: 2rem    ;
        }
}