#para{
    background-color:rgba(235, 0, 70, 1);;
    height:650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#para span{
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: start;
}

#para p{
    text-align: start;
    font-size: 70px;
    font-weight: bold;
    color: black
}