#para{
    background-color:transparent;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#para span{
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: start;
}

#para p{
    text-align: start;
    font-size: 70px;
    font-weight: bold;
    color: black
}

@media(max-width:480px){
    #para p, #para span{
    font-size: 2.15rem;
    }
}