.phones{
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: start;
    height:90vh;
    align-items: start;
    padding:150px 20px 0px;
    margin-bottom: 0px;
}
.phones-info{
    width:55%;
}

.pic-holder {
    position: relative;
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Prevents overflow */
    margin-right:60px;
}

.pic-holder img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* .pic-holder{
    margin-top: 40px;
    margin-right: 40px;
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pic-holder img{
    margin-right: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:contain;
} */

.phones h2::before{
    content: "Your";
    color: black;
}

.phones h2{
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    color: rgba(235, 0, 70, 1);
}

.phones p{
    font-size: 1.25rem;
    color: black;
    font-weight: 500;
    line-height: 1;
}

@media(max-width:480px){
    .pic-holder{
        width: 80%;
    }

    .phones{
        flex-direction: column;
    }

    .phones h2{
        font-size: 2.15rem;
    }
}

@media (max-width: 1200px){
    .phones{
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .pic-holder{
        padding: 0px;
        height: auto;
        padding-left: 25px;
    }

    .phones-info{
        padding: 0px;
        height: auto;
        width: 90%;
        text-align: start;
    }
}