
#hero{
    font-size: 7rem;
    line-height: 0.9;
    font-weight:900;
    margin: 1px;
    color: #ffffff;
}

#deets{
    display: flex;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1;
    font-weight:500;
    text-align: start;
    margin: 1px;
}

#img{
    margin:0.5rem 0;
}

@media (max-width: 480px) {
    #hero{
        font-size: 3rem;
    }
}

@media (max-width: 1200px){
    #hero{
        font-size:4rem;
    }

    #deets{
        font-size:0.9rem;
    }
}
